/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ALGEMEEN--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* fonts van Google */
html{
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #f4f4f4;
    margin: 0px;
}

h1{
    text-shadow: 2px 1px #f4623a;
    margin-top: 13%;
}

h2, h3, legend{
    color: black;
}

h1 {
    text-align: center;
}

article > img:hover{
    transform: scale(1.05);
    border-radius: 50%;
    transition-duration: 3s;
}

article > p{
    font-family: 'Mo', sans-serif;
}

section:nth-of-type(odd){
    background: #f4623a;
    color: white;
}

a[href="mailto:nicoledehaan3@gmail.com"]:hover {
    color: #f4623a;
    background-color: #f4f4f4;
}

.home{
    color: white;
}

.kolom, .opdracht{
    background-color: white;
    color: grey;
}

img[alt*="Foto van Nicole de Haan"]{
    border: 4px solid #f4623a;
    box-shadow: 5px 5px 2px #afaeab;
}

.active1{
    text-decoration: underline;
}

h1:hover {
    transform: rotate(180deg); 
    transition: 5s;
    color: black;
}

article > h2:hover{
    transform: rotate(25deg);
}

div > h3, legend{
    font-size: 1.2rem;
    text-align: left;
}

footer::first-letter{
    color: #000000;
}

img {
    width:100%;
}

video{
    width:100%;
}

video:hover{
    border-radius: 50%;
    transition-duration: 3s;
}

#index{ /*https://www.youtube.com/watch?v=-c94pr41jaI&t=543s*/
    background: url(../img/bg-foto.jpg), 
        linear-gradient(steelblue, firebrick);
    background-blend-mode: overlay;
    
    background-position: center;
    background-attachment: fixed; /* zodat de achtergrond afb niet mee scrollt met rest van de pagina */
    background-size:cover; /* zorgt ervoor dat de afbeelding over de hele pagina covert */
    background-repeat: no-repeat;
    color: white;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ALLES VAN ME NAV----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
nav{
    background: white;
    text-align: center;
}

@media (max-width: 40rem) {
nav{
    background: white;
    display: none;
    }
    .menu div{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 5px;
    border-radius: 5px;
}
    nav ul{
        height: 0,2rem;
        flex-direction: column;
        text-align: center;
    }
}

nav.active{
    display: block;
}

nav > ul{
    list-style-type: none;
    display: flex; /*flexbox*/
}

nav a{
    text-decoration: none;
    color: #f4623a;
    display: block;
    padding: 1rem;
    font-size: 24px;
}

a:hover{
    background-color: #d5d5d5;
    color: black;
    transform: skew(25deg); /* hover over me nav en het staat schuin */
} 

li:first-child {
    flex-grow: 1;
}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------HOME----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.home{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------OPDRACHTEN RESPONSIVE-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 42rem) {
section.opdracht{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: row;
    margin: 2rem;
    text-align: left;
    grid-gap: 2em;
}
}
  

    
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------OVERMIJ, INDEX, CONTACT RESPONSIVE---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 48rem) {
.kolom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: row;
    margin: 2rem;
    text-align: left;
    grid-gap: 2em; 
}
}
    
article, fieldset{
    padding: 1.5em;
    padding-bottom: 2rem;
}  

    
    
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FORMULIER------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*BRON: https://codepen.io/joostf/pen/VKyPxk?editors=1100 */
form {
  box-sizing: border-box;
  display:flex;
  flex-direction:column;
  padding:1em;
}
    
fieldset {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-bottom: 1em;
  border: none;
}
    
legend {
  font-weight:bold;
}
    
input {
  border-color: #f4623a;
  padding:.25em;
  font-size: 1.25em;
  margin-bottom: 1em;
  width:100%;
}

input:valid {
  border-color:green;
  background: lightgreen;
} 
    
input:focus {
  transform: scale(1.01, 1.01);
}
 
button {
  font-size: 1.25em;
  flex:0 0 2em;
  transition:all .2s 1s;
  opacity:0;
  width:6em;
  background-color: #f4623a;
  color: white;  
  text-align: center;
  box-shadow: 5px 5px 2px #afaeab;  
  margin: auto;
}
    
form:valid button {
  opacity:1;
}
    
button:focus {
    transform: scale(1.1, 1.1);
}
  
    
    
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------HAMBURGER MENU/RESPONSIVE----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 40rem) /*Zodra het scherm het scherm groter dan 40rem is krijg je een volledige nav te zien met een 2 koloms layout*/
    { 
    .menu{
        visibility: hidden;
    }
    nav{
        position: fixed; /* staat vast */
        top: 0; 
        margin-bottom: 10%;
        width: 100%;
        transition: 0.1s;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    main /* 10% vanaf bovenkant scherm naar beneden*/{
        margin-top: 10%;
    } 
}
/* BRON: https://www.youtube.com/watch?v=gXkqy0b4M5g&t=1335s%2A%2F */

  
    
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------FOOTER-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    text-align: center;
    color:  #f4623a;
}

footer.index{
    color: white;
}